
    section {
        margin-bottom: 20px;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 8px;
        background-color: #f8f8f8;
    }

    h {
        color: #333;
    }
